@page "/calculator"
@using Acau_Playground.Models;
@using Acau_Playground.Services;
@using Acau_Playground.Viewmodels;
@using Acau_Playground.Extensions
@inject CalculatorViewModel ViewModel

<MudText Typo="Typo.h4" GutterBottom="true">계산기</MudText>

<MudButtonGroup Class="mb-5">
    <MudSwitch @bind-Checked="@ViewModel.IsEditTable" Color="Color.Primary" Label="@($"관리 {(ViewModel.IsEditTable ? "ON" : "OFF")}")" />
</MudButtonGroup>

<MudTable Items="@ViewModel.TableItems" @bind-SelectedItems="ViewModel.SelectedTableItems" MultiSelection="@ViewModel.IsEditTable"
          Bordered HorizontalScrollbar FixedHeader FixedFooter CustomFooter Striped Hover SelectOnRowClick="false"
          Height="600px" Class="mb-10">
    <ColGroup>
        @if (!ViewModel.IsEditTable)
        {
            <col style="width:140px;" />
            <col style="width:100px;" />
            <col style="width:100px;" />
            <col />
            <col />
            <col />
            <col style="width:250px;" />
        }
        else
        {
            <col style="width:50px;" />
            <col style="width:150px;" />
            <col />
            <col />
            <col />
        }
    </ColGroup>

    <HeaderContent>
        <MudTh><center>이름</center></MudTh>
        <MudTh><center>상점가</center></MudTh>
        @if (!ViewModel.IsEditTable)
        {
            <MudTh><center>판매가</center></MudTh>
            <MudTh><center>셜커</center></MudTh>
            <MudTh><center>세트</center></MudTh>
            <MudTh><center>낱개</center></MudTh>
            <MudTh><center>가격</center></MudTh>
        }
        else
        {
            <MudTh><center>단가</center></MudTh>
            <MudTh><center>삭제</center></MudTh>
        }
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="이름">@context.Name</MudTd>
        <MudTd DataLabel="상점가"><center>@context.ShopPrice.ToMoneyComma()</center></MudTd>
        @if (!ViewModel.IsEditTable)
        {
            <MudTd DataLabel="판매가"><center>@((context.ShopPrice + context.PurchasePrice).ToMoneyComma())</center></MudTd>
            <MudTd DataLabel="셜커"><MudNumericField @bind-Value=context.Box Min="0" Max="64" Variant="Variant.Outlined" Immediate Clearable /></MudTd>
            <MudTd DataLabel="세트"><MudNumericField @bind-Value=context.Set Min="0" Max="64" Variant="Variant.Outlined" Immediate Clearable /></MudTd>
            <MudTd DataLabel="낱개"><MudNumericField @bind-Value=context.Num Min="0" Max="64" Variant="Variant.Outlined" Immediate Clearable /></MudTd>
            <MudTd DataLabel="가격"><div style="text-align:right;">@context.Sum.ToMoneyComma()</div></MudTd>
        }
        else
        {
            <MudTd DataLabel="단가">
                <MudNumericField @bind-Value="@context.PurchasePrice" Min="0" Variant="Variant.Outlined" Immediate Clearable />
            </MudTd>
            <MudTd>
                <center><MudButton Color="Color.Error" Variant="Variant.Outlined" OnClick=@(()=> ViewModel.RemoveSelectedItem(context))>삭제</MudButton></center>
            </MudTd>
        }
    </RowTemplate>

    <FooterContent>
        @if (ViewModel.IsEditTable)
        {
            <MudTFootRow>
                <MudTd colspan="4">
                    <div style="text-align:center;">
                        <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="@ViewModel.ShowDialog" Title="항목추가" />
                    </div>
                </MudTd>
            </MudTFootRow>

            <MudTFootRow IsCheckable>
            <MudTd>모두 선택</MudTd>
            <MudTd />
            <MudTd><MudNumericField @bind-Value=ViewModel.PlusPrice Min="0" Variant="Variant.Outlined" Immediate Clearable /></MudTd>
                <MudTd><center><MudButton Color="Color.Error" Variant="Variant.Outlined" OnClick="@ViewModel.RemoveSelectedItems">삭제</MudButton></center></MudTd>
            </MudTFootRow>
        }
    </FooterContent>
</MudTable>

<MudStack Row=true Class="mb-4">
    <MudSpacer />
    <MudButton Color="Color.Primary" Variant="Variant.Outlined" @onclick="ViewModel.Reset">초기화</MudButton>
    <MudButton Color="Color.Primary" Variant="Variant.Filled" @onclick="ViewModel.CopyPriceAsync" title="/수표 금액 명령어를 복사합니다">복사</MudButton>
</MudStack>
<MudText Class="mb-4" Align="Align.Right">
    <b>가격: @ViewModel.Price.ToMoneyComma()</b>
</MudText>

<MudDialog @bind-IsVisible=ViewModel.IsVisibleDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">항목 추가</MudText>
    </TitleContent>
    <DialogContent>
        <div style="width:440px; height:180px;">
            <MudSelect T="string" Label="직업" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value=ViewModel.SelectedJobName>
                @foreach (var item in ViewModel.GetFoods())
                {
                    <MudSelectItem T="string" Value="item">@item</MudSelectItem>
                }
            </MudSelect>

            <MudSelect T="string" Label="항목" MultiSelection="true" @bind-SelectedValues="ViewModel.SelectedFoodNames" SelectAll SelectAllText="전체선택" Class="mt-4">
                @foreach (var item in ViewModel.GetItems())
                {
                    <MudSelectItem T="string" Value="@item">@item</MudSelectItem>
                }
            </MudSelect>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" Class="px-10" OnClick=@ViewModel.CloseDialog>닫기</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="px-10" OnClick="@ViewModel.AddDialog">추가하기</MudButton>
    </DialogActions>
</MudDialog>

@code {
}
